.container {
    background-image: url(../img/background.png);
    padding: 30px 0;
}

.coffee {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 1px 10px 2px rgb(202, 202, 202);
}

.coffee-aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-image: url(../img/sidebar-background.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 30px;
    row-gap: 20px;
}

.coffee-aside-logo {
    display: flex;   
    justify-content: space-between;
    align-items: flex-end;
}

.coffee-aside-logo .cc_titleBox {
    border-color: #56565699;
    color: #e0e0e0;
}

.coffee-aside-logo img {
    width: 85px;
}

.coffee-aside-description {
    color: rgb(148 148 148 / 73%);
}

.coffee-aside-linkbox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    font-weight: 900;
    line-height: 2;
    letter-spacing: 2px;
    text-indent: 2px;
}

.coffee-contents {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}

.coffee-contents .cc_titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffee-contents .cc_titleBox .link {
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 12px;
}

.coffee-contents-about {
    display: flex;
    justify-content: space-between;
}

.coffee-contents-about img {
    flex-grow: 1;
    max-width: 120px;
}   

.coffee-contents-reviews {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 30px;
}

.coffee-contents-reviews div {
    background-color: #999;
    color: #666;
    border-radius: 5px;
}


.cc_titleBox {
    color: grey;
    margin-bottom: 5px;
    border-bottom: 10px solid rgb(215, 215, 215);
    font-size: 20px;
    font-weight: 900; /* initial value normal, inherited yes */
}

.link.main {
    background-color: rgb(0, 106, 255);
    color: white;
}

.link.sub {
    background-color: #e0e0e0;
    color: rgb(80, 80, 80);
}

.link {
    background-color: rgb(232, 232, 232);
    color: gray;
}