body, h2 {
    margin: 0;
}

a {
    color: gray;
    text-decoration: none;
    text-align: center;
}

.l_wrap {
    width: 1200px;
    margin: 0 auto;
}

.cc_grid {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.cc_row {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}