body, h2, h4, p {
    margin: 0;
}

a {
    color: gray;
    text-decoration: none;
    text-align: center;
}

.l_wrap {
    width: 1400px;
    margin: 0 auto;
}

.cc_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cc_row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}