* {
    box-sizing: border-box;
}

/* 
    specificity(명시도)
    inline > #id > .class and :pseudo-class and [attribute] > <tag> and ::pseudo-element > *

    
*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview /* id selector */ {
    background: #ff1b58;
    /* padding: 20px;
    border: 5px black solid;
    margin: 20px; */ /* margin collapsing */
    padding: 10px;
    width: 100%;
    height: 528px;
}

.section-title /* class selector */ {
    color: #2ddf52;
    font-family: inherit;
}

#product-overview h1 /* descendant combinator */ {
    color: white;
    font-family: 'Anton', sans-serif; /* sans-serif, serif, monospace default browser font value */
}

h1 {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    background-color: #2ddf52;
    padding: 8px 16px;
}

.main-header__logo {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item > a {
    color: #0e4f1f;
    text-decoration: none;
}