body, h1, h3, p, ul, figure {
    margin: 0;
}

ul {
    list-style: none;
}

li {
    padding: 0;
}

cite {
    all: unset;
}

/* layout */
.l_wrap {
    width: 1000px;
    margin: 0 auto;
}

/* class component */
.cc_header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.cc_container {
    background-color: rgb(228, 228, 228);
    padding: 30px 0;
}

.cc_footer {
    color: rgb(205, 205, 205);
    border-top: 2px solid;
    padding-top: 20px;
    text-align: center;
}

.cc_title {
    display: inline;
    border-bottom: 3px solid;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 10px;
    text-indent: 10px;
}

.cc_video {
    display: inline-block;
    background-color: currentColor;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cc_video-title {
    position: relative;
    background-color: white;
    padding: 15px;
    font-size: 14px;
    text-align: left;
}

.cc_video-title::after {
    content: " ";
    height: 25px;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cc_grid-row {
    text-align: center;
}

.cc_grid-col {
    display: inline-block;
}

.cc_grid-row.one__third > .cc_grid-col {
    width: 30%;
}

.cc_grid-row.one__third > .cc_grid-col:nth-child(2) {
    margin: 0 4.5%;
}

.cc_copyright {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1em;
}

/* util */
.font_weight-middle {
    font-weight: 700;
}