body {
    margin: 0;
    background-color: #ddd;
}

.header {
    height: 300px;
    background-image: url(./banner.jpg);
    background-position: center;
    overflow: hidden;
    margin-bottom: -100px;
}

.contents {
    background-color: white;
    width: 860px;
    margin: 0 auto 100px;
    padding: 50px;
}

.box-wrapper {
    overflow: hidden;
    width: 960px;
    margin: 50px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-family: "arial";
    font-size: 50px;
}

.box.select {
    background-color: orangered;
    margin-left: -50px;
    margin-right: -50px;
}

.map {
    background-color: white;
    padding: 50px;
    text-align: center;
    margin: 40px 0;
    transition: all 1s;
}

.map:hover {
    margin: 40px -100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}